.contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
}

.page {
    height: 100vh;
    width: 100%;
}

.page1 {
    background: linear-gradient(to bottom, #282828, #444444, #555555, #6b6b6b, #333333, #1b1b1b);
    position: relative;
    padding: 60px;

    .edit_button,
    .url_button {
        display: inline-block;
        padding: 20px 30px;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        font-size: 15px;
        color: white;
        text-decoration: none;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    h3 {
        margin-top: 50px;
        margin-bottom: 10px;
        font-weight: 400;
        color: #ce9e64c2;
    }

    h1 {
        font-weight: 400;
        font-size: 60px;
        margin-bottom: 20px;
    }
    .edit_p{
        margin-top: 30px;
        color: white;
        width: 50%;
        .edit_p_icon{
            color: #ce9e64c2;
            height: 20px;
            width: 20px;
            margin-left: 10px;
            cursor: pointer;

        }


    }


}

.page2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.map {
    padding: 30px;
    position: relative;
    height: 500px;
    width: 400px;
    background: rgba(128, 128, 128, 0.39);
}

.square {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 2px solid white;
    bottom: 30px;
}

.max_min {
    background-color: white;
    padding: 5px;
    position: absolute;
    height: 70px;
    width: 40px;

    bottom: 30px;
    right: 15px;

    .max_min_icon {
        height: 40%;
        width: 100%;
        padding: 5px;
        color: #1b1b1b9f;
    }
}

.card {
    height: 130px;
    width: 250px;
    background: white;
    padding: 20px;
    color: black;

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
        color: #1b1b1bab;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .rating {
        gap: 10px;
        margin-top: 10px;
        display: flex;

        .star {
            color: gold;
        }

        p {
            color: gold;
        }

    }

}

.location {
    height: 50px;
    width: 50px;
    color: rgb(223, 6, 6);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.info {
    height: 500px;
    width: 600px;
    color: black;
    padding: 150px 10px 10px 60px;

    h3 {
        color: #ce9e64c2;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }

    h1 {
        font-size: 40px;
        font-weight: 300;
    }

    .detail {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        height: 80px;
        width: 100%;

        margin-top: 5px;

    }
}

.email_icon,
.map_icon,
.phone_icon {
    height: 50px;
    width: 50px;
    color: #1b1b1bb0;
    font-weight: 300;
}

.email_icon {
    color: #ce9e64c2;
}

.info_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #42424293;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    line-height: 25px;

    h3 {
        color: rgba(0, 0, 0, 0.534);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }

    h2 {

        font-weight: 400;
    }

}

.form_ui {
    top: 45%;
    right: 20%;
    position: absolute;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    height: 550px;
    width: 350px;
    background: #282828;
    padding: 60px;

    label {
        margin-bottom: 10px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    input {
        background-color: #333333;
        height: 40px;
        margin-bottom: 20px;
        outline: none;
        border: none;
        padding: 10px;

        &::placeholder {
            color: #ce9e64c2;
        }
    }

    textarea {
        padding: 10px;
        outline: none;
        border: none;
        background-color: #333333;

        &::placeholder {
            color: #ce9e64c2;
        }


    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        outline: none;
        border: none;
        margin: auto;
        margin-top: 40px;
        font-size: 15px;
        color: #ce9e64c2;
    }
}

.extra_form_icons {
    height: 30px;
    width: 30px;
    position: relative;
    top: 25px;
    left: 195px;
    color: #ce9e64c2;
}

.p_edit_form{
    border-radius: 8px;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 40;
    /*height: 300px;
    */width: 400px;
    background: white;
    color: black;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .cross_icon_edit_p{
        position: absolute;
        right: 10px;
        top: 10px;
        height: 20px;
        width: 20px;
        cursor: pointer;

    }
    textarea{
    width: 100%;
    background: #5756565d;
    outline: none;
    border: none;
    padding: 10px;
    color: black;
   }
   .p_edit_btn{
     height: 40px;
     font-size: 15px;
     width: 100%;
     outline: none;
     border: none;
     background: rgb(103, 12, 177);
     border-radius:8px ;
   
}
}

@media (max-width:1023px) {

    .form_ui {
        top: 5%;
        right: 5%;
    }

    .page2 {
        padding-top: 50px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map {
        width: 80%;
        height: 400px;
    }

    .info {
        padding: 30px;
        width: 80%;
    }

}


.button_edit_form {
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* height: 500px; */
    width: 400px;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 40;
    background: #ffffff;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
h2,p{
    font-size: 15px;
    margin-bottom: 10px;
}
    .cross_icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        height: 25px;
        width: 25px;
    }
.button_style_div,.button_text_div,.button_color_div,.button_size_div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .lable_block{
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
         label {
        /* margin-top: 5px; */
        font-size: 15px;
        font-weight: bold;

    }
    p{
        font-size: 10px;
    }


    }
    

    input,select {
       
        border-radius: 10px;
        height: 40px;
        width: 50%;
        outline: none;
        border: 1px solid black;
        
        background: #ffffff3f;

        padding: 5px 10px;
         
        color: black;
    }
   
}
    label {
        margin-top: 10px;
        font-size: 12px;

    }

    input {
        height: 40px;
        width: 100%;
        outline: none;
        border: 1px solid black;
        background: #ffffff3f;
        border-radius: 10px;

        padding: 5px 10px;
        color: black;
    }

    .btn {
        margin: 0;
        height: 40px;
        width: 100%;
        /*background: #000;
        */
        font-weight: bolder;
        border-radius: 5px;
        outline: none;
        border: none;
    }

    .save_btn {
        margin-top: 10px;
        background: rgb(103, 12, 177);

        &:hover {
            background: rgb(78, 4, 138);
        }
    }

    .delete_btn {
        background: rgb(255, 255, 255);
        color: red;

        &:hover {
            background: rgba(17, 17, 17, 0.13);
        }
    }
}

@media (max-width:773px) {
    .page1 {
        height: 100%;
        .edit_p{
            width: 100%;
        }
    }

    .p_edit_form,.button_edit_form {
        top: 25%;
    }
    

    .form_ui {
        margin-top: 40px;
        position: static;
        width: 100%;

        input {
            height: 70px;
        }

        .extra_form_icons {
            display: none;
        }
    }

}